<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971930384066-pueglhdoe2i88sthno1qgfnk1mfj0cj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971930384066-pueglhdoe2i88sthno1qgfnk1mfj0cj7</string>
	<key>API_KEY</key>
	<string>AIzaSyCp1Ax1ziizimXzZVaNup1ioxT8b5D9qbE</string>
	<key>GCM_SENDER_ID</key>
	<string>971930384066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cct.Projekti-Faza-2---AD</string>
	<key>PROJECT_ID</key>
	<string>projekti-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>projekti-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971930384066:ios:b7f45e65294b6ccf572d5b</string>
	<key>DATABASE_URL</key>
	<string>https://projekti-ios.firebaseio.com</string>
</dict>
</plist>